.navbar{
    display: flex;
    background-color: #54BAB9;
    padding: 10px;
    font-family: 'Roboto Slab', serif;
}

.navbar-heading{
    margin-right: auto; 
    color: #F7ECDE;
    font-size: 30px;
}

.navbar-links,.login-signupp{
    display: flex;
}

.navbar-list{
    list-style: none;
    margin: auto 30px;
    font-size: 20px;
}
.link-active{
    color: #F7ECDE;
    text-decoration: none;
}
.link-{
    text-decoration: none;
    color: #E9DAC1;
    /* color: black; */
}
.link-:hover{
    text-decoration: none;
    color: #faf3e3b9;
    /* color: black; */
}


